.footer {
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #333;
    padding: 2rem 0;
    border-top: 3px solid #111;
}

.footer span {
    font-weight: bold;
}