* {
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    box-sizing: border-box;
}

ul, li, a {
    text-decoration: none;
    list-style: none;
    color: #fff;
}

.main-container {
    min-height: 70vh;
    padding: 0 2em;
}